
p{
    margin: 20px;
}

.card h1{
    text-align: center;
    width: 100%;
}

.card{  
   display: flex;
   flex-wrap:wrap;
   flex-grow: 1;
   text-align: left;
   justify-items: center;
   align-items: center;
   width: 100%;
   height:100%;
   flex-direction: column;
}
.timelist, .ingredients, .instructions{
    width:50%;
}

a{
    text-align: center;
    width: 100%;
}


